[class^="col"] {
    background-color: blue;
    color: white;
    min-height: 50px;
    border: 1px solid white;
    padding: 15px;
}

.double {
    min-height: 100px;
}

.nasted {
    background-color: #37de4b;
    min-height: 60px;
    border: 1px solid blue;
}